

<h1>all users page </h1>


<% flash.each do |type, msg| %>
    <% if type == "error" %>
        <div class="alert alert-danger"><%= msg %> </div>
    <% elsif type == "success" %>
        <div class= "alert alert-success"><%= msg %> </div>
    <% elsif type == "info" %>
        <div class= "alert alert-danger"><%= msg %> </div>
    <% end %>
<% end %>

<% model = User.new() %>


<div class = "jumbotron bg-dark mr-4 ml-4 mt-5" >
  <h1 align="center", > ALL USERS </h1>
<table class="my-table table-bordered", style = "color:white">
    <thead>
      <tr>
        <!-- <th scope="col">#</th> -->
        <th scope="col">username</th>
        <th scope="col">userid</th>
        <th scope="col">email</th>
        <th scope="col">Admin Status</th>
        <th scope="col">created_at</th>
        <th scope="col">delete</th>
        <th scope="col">edit</th>
        <th scope="col">make admin</th>
        <th scope="col">remove admin</th>
        <th scope="col">user tweets</th>
        <!-- <th scope="col">show</th> -->
      </tr>
    </thead>
    <tbody>
    <% @users.each do |user| %>  
      <tr>
        <td><%= user["username"] %> </td>
        <td><%= model.getkey(user["username"]) %> </td>
        <td><%= user["email"] %></td>
        <td><%= user["admin_status"] %></td>
        <td><%= user["date_joined"] %></td>
        <td><%= link_to "delete", users_path+"/admin/user/#{model.getkey(user["username"])}", :method => 'delete', data: {confirm: "Are you sure bout that"}, :class => "btn btn-danger" %> </td>
        <td><%= link_to "edit", users_path+"/admin/edit_user/#{model.getkey(user["username"])}",:class => "btn btn-primary" %> </td>
        <td><%= link_to "make", users_path+"/admin/make_admin/#{model.getkey(user["username"])}", :method => 'delete', data: {confirm: "Are you sure bout that"}, :class => "btn btn-primary" %> </td>
        <td><%= link_to "Remove", users_path+"/admin/remove_admin/#{model.getkey(user["username"])}", :method => 'delete', data: {confirm: "Are you sure bout that"}, :class => "btn btn-primary" %> </td>
        <td><%= link_to "User's tweets", users_path+"/admin/remove_admin/#{model.getkey(user["username"])}", :method => 'delete', data: {confirm: "Are you sure bout that"}, :class => "btn btn-primary" %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  </div>