<% flash.each do |type, msg| %>
<% if type == "error" %>
    <div class="alert alert-danger"><%= msg %> </div>
<% elsif type == "success" %>
    <div class= "alert alert-success"><%= msg%> </div>
<% elsif type == "info" %>
    <div class= "alert alert-danger"><%= msg%> </div>
<% elsif type == "alert" %>
    <div class= "alert alert-danger"><%= msg%> </div>
<% end %>
<% end %>


<h2 class="text-center">Password Reset</h2>
<div class="card">
<div class="card-body">
<%= form_with scope: :user, url: forgot_password_path,  local: true do |form| %>
<p>
<%= form.label :email %><br>
<%= form.email_field :email, :placeholder=> "Email" , :required => true, :class => "input" %> 
</p>

<p>
<%= form.submit "submit", :class => "btn btn-primary"%>
</p>

<p><%= link_to "No account sign up?", new_user_path %> </p>
<% end %></div>
</div>