

<% flash.each do |type, msg| %>
<% if type == "error" %>
    <div class="alert alert-danger"><%= msg %> </div>
<% elsif type == "success" %>
    <div class= "alert alert-success"><%= msg%> </div>
<% elsif type == "info" %>
    <div class= "alert alert-danger"><%= msg%> </div>
<% elsif type == "alert" %>
    <div class= "alert alert-danger"><%= msg%> </div>
<% end %>
<% end %>




<div class="jumbotron">

<%= form_with scope: :user, url: login_path,  local: true do |form| %>
<p>
<%= form.label :username %><br>
<%= form.text_field :user_name, :class => "form-control" %>
</p>

<p>
<%= form.label :password %><br>
<%= form.password_field :password, :class => "form-control" %>
</p>  

<p>
<%= form.submit "log in", :class => "btn btn-primary"%>
</p>

<p> Don't have an account? <%= link_to "sign up", new_user_path %> </p>
<% end %>

<p>  <%= link_to "forgot password?",  forgot_password_path %> </p>
</div>