<% flash.each do |type, msg| %>
    <% if type == "error" %>
        <div class="alert alert-danger"><%= msg %> </div>
    <% elsif type == "success" %>
        <div class= "alert alert-success"><%= msg %> </div>
    <% elsif type == "info" %>
        <div class= "alert alert-danger"><%= msg %> </div>
    <% end %>
<% end %>
<div class="container" id="container">
  <div class="form-container sign-up-container">       
     <%= form_with scope: :user, url: users_path,  local: true do |form| %>
         <h1 class="h1">Create Account</h1>
            <%= form.text_field :user_name ,:placeholder=> "Username" , :class => "input"%>          
            <%= form.email_field :email, :placeholder=> "Email" , :class => "input" %>         
            <%= form.password_field :password, :placeholder=>"Password" , :class => "input", :id=>"pass" %>
            <input type="checkbox" onclick="myFunction()" />
            <%= form.submit "Sign Up", :class => "button"%>          
          
        <% end %>
      </div>
      <div class="form-container sign-in-container">
      
        <%= form_with scope: :user, url: login_path,  local: true do |form| %>
                <h1 class="h1">Sign In</h1>
            <%= form.text_field :user_name, :placeholder=> "Username" , :class => "input" %>         
            <%= form.password_field :password, :placeholder=>"Password" , :class => "input" %>           
            <%= form.submit "Sign In", :class => "button"%>           
          
        <% end %>
      </div>

      <div class="overlay-container">
        <div class="overlay">
          <div class="overlay-panel overlay-left">
              <img src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png" alt="" width="200px">
            <h1 class="h1">Welcome Back!</h1>
            <p>
              To keep connected with us please login with your personal info
            </p>
            <button class="ghost button" id="signIn">Sign In</button>
          </div>
          <div class="overlay-panel overlay-right">
            <img src="https://help.twitter.com/content/dam/help-twitter/brand/logo.png" alt="" width="200px">
            <h1 class="h1">Hello, Friend!</h1>
            <p>Enter your personal details and start tweeting</p>
            <button class="ghost button" id="signUp">Sign Up</button>
          </div>
        </div>
      </div>
    </div>

<script>
    const signUpButton = document.getElementById("signUp");
    const signInButton = document.getElementById("signIn");
    const container = document.getElementById("container");

    signUpButton.addEventListener("click", () => {
      container.classList.add("right-panel-active");
    });

    signInButton.addEventListener("click", () => {
      container.classList.remove("right-panel-active");
    });

    const myFunction =()=>{
      let x = document.getElementById("pass")
      if(x.type === "password")
      {
        x.type ="text"
      }else{
        x.type ="password"
      }
    }
</script>