

<% flash.each do |type, msg| %>
<% if type == "error" %>
    <div class="alert alert-danger"><%= msg %> </div>
<% elsif type == "success" %>
    <div class= "alert alert-success"><%= msg%> </div>
<% elsif type == "info" %>
    <div class= "alert alert-danger"><%= msg%> </div>
<% elsif type == "alert" %>
    <div class= "alert alert-danger"><%= msg%> </div>
<% end %>
<% end %>
<h1 class="text-center">Reset Password</h1>
<div class="card">
<div class="card-body">
<%= form_with scope: :user, url: "/password_reset/#{params[:token]}",  local: true do |form| %>
<p>
<%= form.label :new_pass_word %><br>
<%= form.password_field :password, :placeholder=> "password" , :required => true, :class => "input" %> 
</p>

<p>
<%= form.submit "submit", :class => "btn btn-primary"%>
</p>

<p><%= link_to "No account sign up?", new_user_path %> </p>
<% end %>
</div></div>