
         <div class="heading2">
            <%= link_to users_path do %>
            <svg class="arrow">
                <path
                  d="M20 11H7.414l4.293-4.293c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0l-6 6c-.39.39-.39 1.023 0 1.414l6 6c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L7.414 13H20c.553 0 1-.447 1-1s-.447-1-1-1z"
                ></path>
              </svg>
            <% end %>
            <div class="user-head">
              <h3 class="mb-0"> <%= @userModel["username"]%></h3>
              <span class="text-muted">1,672 Tweets</span>
            </div>
          </div>
          <ul class="nav nav-tabs mt-3" id="myTab" role="tablist">
            <li class="nav-item">
              <a
                class="nav-link active"
                id="home-tab"
                data-toggle="tab"
                href="#home"
                role="tab"
                aria-controls="home"
                aria-selected="true"
                >Followers</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                id="profile-tab"
                data-toggle="tab"
                href="#profile"
                role="tab"
                aria-controls="profile"
                aria-selected="false"
                >Following</a
              >
            </li>

          </ul>
          <div class="tab-content" id="myTabContent">
            <div
              class="tab-pane fade show active"
              id="home"
              role="tabpanel"
              aria-labelledby="home-tab"
            >
      
            <% @followers.each do |follow|  %>
            <div class="card">
                <div class="card-body">
                    <div class="fr-details">
                        <div class="urd">
                        <% (@user.fetch_user($redis.GET(follow))["profile_image_url"] == "nil")? 
                        @img = "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTVsThWV87XN3bvVT3DYGy7v7lL6b4
                        rza8saDmVyVK6hGWy-MQt" : @img = @user.fetch_user($redis.GET(follow))["profile_image_url"]%>
                        <img
                            alt=""
                            draggable="true"
                              src="<%= @img %>"                            
                            class="rounded-circle"
                            width="50px"
                          />
                          <div class="de ml-2" >
                              <div class="user-follows">
                            <%=  @user.getname(follow)  %> <span class="badge badge-light text-muted">Follows you</span>
                              </div>
                            
                            <span class="text-muted">@<%=  @user.getname(follow) %></span>
                          </div></div>
                          <% @model = Follower.new("0", follow)
                          if @model.myFollower.include?(current_user_id) %>
                          <%= link_to  "/unfollow?id=#{follow}" do  %>
                            <button class="btn btn-primary btn2 btf"><span>Following</span></button>
                            <% end %>
                          <% else %>
                          <%= link_to new_follower_path(:id=>follow) do %>
                            <button class="btn btn-outline-primary btn2"><span >Follow</span></button>
                            <% end %>
                          <% end 
                          %>
                        
                      </div>
                </div>
                 
            </div>
           <% end %>
           </div>

         
          

            <div
              class="tab-pane fade"
              id="profile"
              role="tabpanel"
              aria-labelledby="profile-tab"
            >
              <% @myFollowing.each do |follow|  %>
            <div class="card">
                <div class="card-body">
                    <div class="fr-details">
                        <div class="urd">
                        <% (@user.fetch_user($redis.GET(follow))["profile_image_url"] == "nil")? 
                        @img = "https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTVsThWV87XN3bvVT3DYGy7v7lL6b4
                        rza8saDmVyVK6hGWy-MQt" : @img = @user.fetch_user($redis.GET(follow))["profile_image_url"]%>
                        <img
                            alt=""
                            draggable="true"
                              src="<%= @img %>"                            
                            class="rounded-circle"
                            width="50px"
                          />
                          <div class="de ml-2" >
                              <div class="user-follows">
                            <%=  @user.getname(follow)  %> <span class="badge badge-light text-muted">Follows you</span>
                              </div>
                            
                            <span class="text-muted">@<%=  @user.getname(follow) %></span>
                          </div></div>
                          <% @model = Follower.new("0", follow)
                          if @model.myFollower.include?(current_user_id) %>
                          <%= link_to  "/unfollow?id=#{follow}" do  %>
                            <button class="btn btn-primary btn2 btf"><span>Following</span></button>
                            <% end %>
                          <% else %>
                          <%= link_to new_follower_path(:id=>follow) do %>
                            <button class="btn btn-outline-primary btn2"><span >Follow</span></button>
                            <% end %>
                          <% end 
                          %>
                        
                      </div>
                </div>
            </div>
            <% end %>
            </div>
           
          </div>
    